<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>探索画面</title>
  </head>
  <body>
    けんさく
    <form action="/select" method="get">
      <input type="text" name="dep_station">
      <input type="text" name="arr_station">

      <select name="dep_h">
        <% hour = 0; 24.times do %>
          <option value="<%= hour %>"><%= hour %>時</option>
          <% hour = hour+1 %>
        <% end %>
      </select>

      <select name="dep_t">
        <% time = 0; 60.times do %>
          <option value="<%= time %>"><%= time %>分</option>
          <% time = time+1 %>
        <% end %>
      </select>
      <input type="submit">
    </form>
  </body>
</html>