<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>探索画面</title>
  </head>
  <body>
    けんさく
    <form action="/result" method="get">
      <input type="text" name="dep_station">
      <input type="text" name="arr_station">
      <input type="submit">
    </form>
    
  </body>
</html>